body {
  padding: 50px;
  font-family: cursive;
  background-color: darkcyan;
  color: lime;
}

a {
  color: darkred;
  font-size: initial;
}

button{
  background-color: lime;
  border-radius: 20px;
}

